{% assign previous = ( page.previous.url & page.previous.category == page.category )%}
{% assign next = ( page.next.url  && page.next.category == page.category )%}
{% if previous || next %}
<hr/>
<style>
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
</style>
   <div class="PageNavigation">
  {% if previous %}
    <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if previous && next %} || {% endif %}
  {% if next %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<hr/>
{% endif %}
