{% assign sidebar = site.data[page.sidebar] %}
<div class="mydocsidebar">
<div class="sidebar-inner">
<div class="productTitle"><a href="{{site.baseurl}}{{folder.url|default: '/#' }}">{{sidebar.sidebarTitle}}</a></div>
<!-- search bar -->
{% unless page.search == false %}
<div class="sidebarSearchBar">
  <form action="search-{{page.sidebar}}.html" method="get">
    <div class="input-group search">
      <input type="text" id="search-box" name="query" class="form-control" placeholder="{{site.uistring.search_placeholder_product}}">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" value="search">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endunless %}
<!-- end search bar -->
Page URL: {{page.url}}
<ul id="docnavsidebar" class="docnav">
{% for folder in sidebar.folders %}
  <li class="level1 {% if page.url == (folder.url| remove: /index.html | %}open{% endif %}"><a href="{{site.baseurl}}{{folder.url|default: '/#' }}">{{ folder.title }}</a>
    <ul style="display:none">
  {% for folderitem in folder.folders %}
    {% if folderitem.title %}
      {% if folderitem.url contains "http://" or folderitem.url contains "https://" %}
      <li class="level1items"><a  class="noCrossRef" href="{{ folderitem.url| prepend: folder.url }}">{{folderitem.title}}</a></li>
      {% else %}
        {% assign base_folderitem_url = folderitem.url | prepend: folder.url |prepend: site.baseurl %}
      <li class="level1items {% if page.url == folderitem.url %}open{% endif %}"><a href="{{base_folderitem_url }}">{{folderitem.title}}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if folder.autoinsert %}
    {% for post in site.posts %}
      {% if post.type == folder.autoinsert %}
      <li class="level1items {% if page.url == post.url %}open{% endif %}"><a href="{{site.baseurl}}{{post.url }}">{{post.title}}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}
    </ul>
  </li>
{% endfor %}
</ul>
</div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>
